* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(70, 64, 141);
}

.hello, .para1 {
    color:rgba(255, 255, 255, 0.908);
    padding: 2rem;
}

h1 {
    margin-bottom: 1rem;

}

span {
    color:red;

}

.addy {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: .5rem solid pink;
}


