* {
    box-sizing: border-box;
}

#sidebar ul {
    display: flex;
    gap:20px;
    align-items: center;
 
  
}

#grid1{
    display: grid;
}

.buy {
    background-color: blue;
    border-radius: 12px;
    text-align: center;
    color:white;
    border: 1px solid red;
   


}

.prices{
    display: flex;
    
    
}

#column-2 p{
    text-align: center;
}